# Configuração do Ambiente do Microserviço OAuth
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=cc05f77bc5424564bdf64cf6350d7501

# URLs e Portas
API_PORT=8000
KEYCLOAK_PORT=8080

# Keycloak Integration
KEYCLOAK_BASE_URL=http://localhost:8080/auth
KEYCLOAK_INTERNAL_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=constrsw
KEYCLOAK_CLIENT_ID=oauth
KEYCLOAK_CLIENT_SECRET=a12345678-secret-mock
