# Symfony Framework
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=cc05f77bc5424564bdf64cf6350d7501

# Keycloak Integration
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=constrsw
KEYCLOAK_CLIENT_ID=oauth
KEYCLOAK_CLIENT_SECRET=a12345678-secret-mock
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=a12345678
